@page
@model IndexModel
@{
    ViewData["Title"] = "ASP.NET Core 3.1 Application";
}

<h2>SQL in docker container sample</h2>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
        Application dates are generated in code and using time zone conversion.
    </div>
    <div class="col-sm-12">
        Database dates are converted in the database using the <a href="https://learn.microsoft.com/en-us/sql/t-sql/queries/at-time-zone-transact-sql?view=sql-server-ver16">AT TIME ZONE</a> sql command.
    </div>
  </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Source</th>
            <th scope="col">Timezone</th>
            <th scope="col">Date & Time</th>
            <th scope="col">EST DateTime</th>
            <th scope="col">CET DateTime</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Application</td>
            <td>N/A</td>
            <td>@ViewData["UTCDateTime"]</td>
            <td>@ViewData["ESTDateTime"]</td>
            <td>@ViewData["CETDateTime"]</td>
        </tr>
        <tr>
            <td>DB UTC</td>
            <td>@ViewData["TZUTC"]</td>
            <td>@ViewData["UTCDateTimeFromDBUTC"]</td>
            <td>@ViewData["ESTDateTimeFromDBUTC"]</td>
            <td>@ViewData["CETDateTimeFromDBUTC"]</td>
        </tr>
        <tr>
            <td>DB CET</td>
            <td>@ViewData["TZCET"]</td>
            <td>@ViewData["UTCDateTimeFromDBCET"]</td>
            <td>@ViewData["ESTDateTimeFromDBCET"]</td>
            <td>@ViewData["CETDateTimeFromDBCET"]</td>
        </tr>
    </tbody>
</table>
