@page
@model IndexModel
@{
    ViewData["Title"] = "ASP.NET Core 3.1 Application";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Source</th>
            <th scope="col">UTC DateTime</th>
            <th scope="col">EST DateTime</th>
            <th scope="col">CET DateTime</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Application</td>
            <td>@ViewData["UTCDateTime"]</td>
            <td>@ViewData["ESTDateTime"]</td>
            <td>@ViewData["CETDateTime"]</td>
        </tr>
        <tr>
            <td>Database</td>
            <td>@ViewData["UTCDateTimeFromDB"]</td>
            <td>@ViewData["ESTDateTimeFromDB"]</td>
            <td>@ViewData["CETDateTimeFromDB"]</td>
        </tr>
    </tbody>
</table>
